{% include "header.html" %}

{% include "menu.html" %}

<div class="row-fluid">
<div class="span6 offset1">
    <h3>Процессы согласования</h3>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->



<div class="row-fluid">
<div class="span10 offset1">
<div class="navbar">
    <div class="navbar-inner">
	<ul class="nav">
	    <li class="active"><a href="/proc">Процессы</a>
	    <li><a href="/scheme">Схемы</a>
	</ul><!-- nav -->
    </div><!-- navbar-inner -->
</div><!-- navbar -->
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->



<div class="row-fluid">
<div class="span4 offset4">
<div class="alert alert-error">
	<center>
	<h4>Нет доступа</h4>
	</center>
</div><!-- alert alert-error -->
</div><!-- span4 offset4 -->
</div><!-- row-fluid -->




{% include "footer.html" %}

