{% include "header.html" %}

{% include "menu.html" %}

<div class="row-fluid">
<div class="span6 offset1">
    <h3>Затратные договоры</h3>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


{% include "costcontract/contract.html" %}


<div class="row-fluid">
<div class="span10 offset1">
	<ul class="nav nav-tabs">
	    <li class="active"><a href="/costcontractedit">Договор</a>
	    <li><a href="/costcontractorder">Заказы</a>
	</ul><!-- nav -->
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


<div class="row-fluid">
<div class="span10 offset1">
    <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">{% csrf_token %}
	<fieldset>
	    <legend>Договор</legend>


	<div class="row-fluid">
	    <div class="control-group span6">
	    <label class="control-label">{{ form.tema.label }}</label>
		<div class="controls">{{ form.tema }}</div>
	    </div><!-- control-group -->
	    <div class="control-group span6">
	    <label class="control-label">{{ form.block.label }}</label>
		<div class="controls">{{ form.block }}</div>
	    </div><!-- control-group -->
	</div><!-- row-fluid -->



	<div class="row-fluid">
	    <div class="control-group span6">
	    <label class="control-label">{{ form.contragent.label }}</label>
		<div class="controls">{{ form.contragent }}</div>
	    </div><!-- control-group -->
	    <div class="control-group span6">
	    <label class="control-label">{{ form.contract.label }}</label>
		<div class="controls">{{ form.contract }}</div>
	    </div><!-- control-group -->
	</div><!-- row-fluid -->


	<div class="row-fluid">
	    <div class="control-group span6">
	    <label class="control-label">{{ form.file_load.label }}</label>
		<div class="controls">{{ form.file_load }}</div>
	    </div><!-- control-group -->
	</div><!-- row-fluid -->


	</fieldset>

	<div class="row-fluid">
	    <div class="control-group span6">
		<div class="controls"><button type="submit" class="btn">Сохранить</button></div>
	    </div><!-- control-group -->
	</div><!-- row-fluid -->

    </form>
</div><!-- span6 offset3 -->
</div><!-- row-fluid -->



{% include "footer.html" %}
