{% include "header.html" %}

{% include "menu.html" %}


<div class="row-fluid">
<div class="span10 offset1">
	<ul class="nav nav-tabs">
	    <li><a href="/userfiles">Мои файлы</a>
	    <li class="active"><a href="/otherfiles">public</a>
	</ul><!-- nav -->
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


<div class="row-fluid">
<div class="span6 offset1">
    <h3>Мои файлы</h3>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


<div class="row-fluid">
<div class="span2 offset1">
    <a href="/userfilenew"><i class="icon-file"></i>Добавить</a>
</div><!-- span2 offset1 -->
</div><!-- row-fluid -->



<div class="row-fluid">
<div class="span6 offset1">
    <form action="" method="post" class="form-search">{% csrf_token %}
	{{ form.search }}
	<button type="submit" class="btn">Искать</button>
    </form>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->





{# Вывод страниц #}
<div class="row-fluid">
<div class="span2 offset1">
<div class="paginator">
    <span class="step-links">
	{% if data.has_previous %}
	    <a href="?page={{ data.previous_page_number }}">Предыдущая</a>
	{% endif %}

    <span class="current">
	Стр. {{ data.number }} из {{ data.paginator.num_pages }}
    </span>

	{% if data.has_next %}
	    <a href="?page={{ data.next_page_number }}">Следующая</a>
	{% endif %}
    </span>
</div><!-- paginator -->
</div><!-- span2 offset1 -->
</div><!-- row-fluid -->





<div class="row-fluid">
<div class="span10 offset1">
<table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
	<th>Файл</th>
	<th>Комментарий</th>
	<th>Владелец</th>
    </thead>
    <tbody>
	{% for row in data %}
	<tr>
	    <td><a href="/getfile?file_id={{ row.0 }}">{{ row.1 }}</a>&nbsp;&nbsp;(ver:{{ row.7|date:"d.m.Y H:i" }}&nbsp;&nbsp;{{ row.8|filesizeformat }})</td>
	    <td>{{ row.2 }}</td>
	    <td>{{ row.4 }} {{ row.5 }} ({{ row.6 }})</td>
	</tr>
	{% endfor %}
    </tbody>
</table>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


{# Вывод страниц #}
<div class="row-fluid">
<div class="span2 offset1">
<div class="paginator">
    <span class="step-links">
	{% if data.has_previous %}
	    <a href="?page={{ data.previous_page_number }}">Предыдущая</a>
	{% endif %}

    <span class="current">
	Стр. {{ data.number }} из {{ data.paginator.num_pages }}
    </span>

	{% if data.has_next %}
	    <a href="?page={{ data.next_page_number }}">Следующая</a>
	{% endif %}
    </span>
</div><!-- paginator -->
</div><!-- span2 offset1 -->
</div><!-- row-fluid -->





{% include "footer.html" %}

