{% include "header.html" %}

{% include "menu.html" %}

<div class="row-fluid">
<div class="span6 offset1">
    <h3>Движение ТМЦ</h3>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


{% include "mtmc/head.html" %}


<div class="row-fluid">
<div class="span10 offset1">
	<ul class="nav nav-tabs">
	    <li><a href="/mtmcedit">Наименование</a>
	    <li><a href="/mtmcattrs">Атрибуты</a>
	    <li><a href="/mtmcdata">Компоненты</a>
	    <li><a href="/mtmcstatus">Статус</a>
	    <li><a href="/mtmcmove">Перемещения</a>
	    <li class="active"><a href="/mtmcfiles">Приложения</a>
	</ul><!-- nav -->
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


<div class="row-fluid">
<div class="span6 offset1">
    <h4>Добавить файл:</h4>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->



<div class="row-fluid">
<div class="span10 offset1">
    <form action="" enctype="multipart/form-data" method="post" class="form-search">{% csrf_token %}
	{{ form.file_load.label }} {{ form.file_load }} {{ form.comment.label }} {{ form.comment }}
	<button type="submit" class="btn">Добавить</button>
    </form>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->



<div class="row-fluid">
<div class="span10 offset1">
<table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
	<th>Файл</th>
	<th>Комментарий</th>
	<th>Добавил</th>
	<th>Дата</th>
	<th>Время</th>
	<th>Удалить</th>
    </thead>
    <tbody>
	{% for row in data %}
	<tr>
	    <td><a href="/mtmcfiles/?get_file={{ row.id }}">{{ row.file_name }}</a></td>
	    <td>{{ row.comment }}</td>
	    <td>{{ row.author_name }}</td>
	    <td>{{ row.create|date:"d.m.Y" }}</td>
	    <td>{{ row.create|date:"H:i" }}</td>
	    <td><a href="/mtmcfiles/?file_delete={{ row.id }}"><i class="icon-trash"></i>&nbsp;X</a></td>
	</tr>
	{% endfor %}
    </tbody>
</table>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->



{% include "footer.html" %}

