{% include "header.html" %}

{% include "menu.html" %}

<div class="row-fluid">
<div class="span6 offset1">
    <h3>Подключение клиентов</h3>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


<div class="row-fluid">
<div class="span10 offset1">
	<ul class="nav nav-tabs">
	    <li><a href="/clientlist">Список</a>
	    <li><a href="/clientrep">Отчеты</a>
	    <li class="active"><a href="/clientopt">Настройки</a>
	</ul><!-- nav -->
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


<div class="row-fluid">
<div class="span10 offset1">
<h4>Правила Email рассылки</h4>
    <form action="" method="post" class="form-search">{% csrf_token %}
	{{ form.status.label }} {{ form.status }}  {{ form.user.label }} {{ form.user }}
	<button type="submit" class="btn">Добавить</button>
    </form>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


<div class="row-fluid">
<div class="span10 offset1">
<table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
	<th>Дата</th>
	<th>Статус</th>
	<th>Пользователь</th>
	<th>Добавил</th>
	<th>Удалить</th>
    </thead>
    <tbody>
	{% for row in data %}
	<tr>
	    <td>{{ row.date|date:"d.m.Y" }}</td>
	    <td>{{ row.status }}</td>
	    <td>{{ row.user }}</td>
	    <td>{{ row.author }}</td>
	    <td><a style="color:red; "href="/clientopt/?delemail={{ row.id }}"><i class="icon-trash"></i>&nbsp;X</a></td>
	</tr>
	{% endfor %}
    </tbody>
</table>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->



{% include "footer.html" %}

