{% include "header.html" %}

{% include "menu.html" %}


{% include "client/head.html" %}


<div class="row-fluid">
<div class="span10 offset1">
	<ul class="nav nav-tabs">
	    <li><a href="/client">Запрос</a>
	    <li><a href="/technical">Тех. решение</a>
	    <li><a href="/commercial">Ком. часть</a>
	    <li class="active"><a href="/realization">Реализация</a>
	    <li><a href="/clientstatus">История статусов</a>
	    <li><a href="/clientemail">История уведомлений</a>
	</ul><!-- nav -->
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


{% include "footer.html" %}

