{% include "header.html" %}

{% include "menu.html" %}


{% include "client/head.html" %}


<div class="row-fluid">
<div class="span10 offset1">
	<ul class="nav nav-tabs">
	    <li><a href="/client">Запрос</a>
	    <li class="active"><a href="/technical">Тех. решение</a>
	    <li><a href="/commercial">Ком. часть</a>
	    <li><a href="/realization">Реализация</a>
	    <li><a href="/clientstatus">История статусов</a>
	    <li><a href="/clientemail">История уведомлений</a>
	</ul><!-- nav -->
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->




<div class="row-fluid">
<div class="span10 offset1">
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
	<fieldset>
	    <legend>Техническое решение</legend>


	<div class="row-fluid">
	    <div class="control-group span5">
	    <label class="control-label">{{ form.use.label }}</label>
		<div class="controls">{{ form.use }}</div>
	    </div><!-- control-group -->

	    <div class="control-group span5">
	    <label class="control-label">{{ form.onepay.label }}</label>
		<div class="controls">{{ form.onepay }}</div>
	    </div><!-- control-group -->
	</div><!-- row-fluid -->

	<div class="row-fluid">
	    <div class="control-group span5">
	    <label class="control-label">{{ form.option.label }}</label>
		<div class="controls">{{ form.option }}</div>
	    </div><!-- control-group -->

	    <div class="control-group span5">
	    <label class="control-label">{{ form.monthpay.label }}</label>
		<div class="controls">{{ form.monthpay }}</div>
	    </div><!-- control-group -->
	</div><!-- row-fluid -->

	<div class="row-fluid">
	    <div class="control-group span5">
	    <label class="control-label">{{ form.jobokp.label }}</label>
		<div class="controls">{{ form.jobokp }}</div>
	    </div><!-- control-group -->

	    <div class="control-group span5">
	    <label class="control-label">{{ form.nemis.label }}</label>
		<div class="controls">{{ form.nemis }}</div>
	    </div><!-- control-group -->

	    <div class="control-group span1">
		<a href="http://nemis.sib.transtk.ru/solutions/{{ nemis }}">nemis.sib.transtk.ru</a>
	    </div><!-- control-group -->
	</div><!-- row-fluid -->


	<div class="row-fluid">
	    <div class="control-group span8">
	    <label class="control-label">{{ form.comment.label }}</label>
		<div class="controls">{{ form.comment }}</div>
	    </div><!-- control-group -->
	</div><!-- row-fluid -->


	</fieldset>

	    <div class="control-group span5">
		<div class="controls"><button type="submit" class="btn">Применить</button></div>
	    </div><!-- control-group -->

    </form>
</div><!-- span6 offset3 -->
</div><!-- row-fluid -->



<div class="row-fluid">
<div class="span6 offset1">
    <form action="" method="post" class="form-search">{% csrf_token %}
    <legend>Файлы</legend>
	{{ fform.file_link }}
	<button type="submit" class="btn">Добавить</button>
    </form>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


<div class="row-fluid">
<div class="span10 offset1">
    <ul class="inline">
	{% for item in techfiles %}
	    <li><a href="/getfile?file_id={{ item.2 }}">{{ item.1 }}</a><a style="color:red;" href="/technical?delete_file={{ item.0 }}"><i class="icon-trash"></i>&nbsp;X</a></li>
	{% endfor %}
    </ul>
</div><!-- span10 offset1 -->
</div><!-- row-fluid -->


{% include "footer.html" %}

