{% include "header.html" %}

{% include "menu.html" %}


<div class="row-fluid">
<div class="span6 offset1">
    <h3>Процесс согласования</h3>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


{% include "proc/procinfo.html" %}


<div class="row-fluid">
<div class="span10 offset1">
	<ul class="nav nav-tabs">
	    <li><a href="/procdata/?proc_id={{ proc }}">Процесс</a>
	    <li><a href="/procstep/?proc_id={{ proc }}">Решения</a>
	    <li><a href="/proccomment/?proc_id={{ proc }}">Комментарии / Приложения</a>
	    <li class="active"><a href="/procemail/?proc_id={{ proc }}">История уведомлений</a>
	    <li><a href="/procfiles/?proc_id={{ proc }}">Все файлы</a>
	    <li><a href="/procattrs/?proc_id={{ proc }}">Атрибуты</a>
	</ul><!-- nav -->
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->


<div class="row-fluid">
<div class="span10 offset1">
<table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
	<th>Дата</th>
	<th>Время</th>
	<th>Email адрес</th>
	<th>Содержание сообщения</th>
    </thead>
    <tbody>
	{% for row in data %}
	<tr>
	    <td>{{ row.date|date:"d.m.Y" }}</td>
	    <td>{{ row.date|date:"H:i" }}</td>
	    <td>{{ row.mail }}</td>
	    <td>{{ row.info }}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>
</div><!-- span6 offset1 -->
</div><!-- row-fluid -->



{% include "footer.html" %}

