<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
	<div class="container">
	    <a class="brand" href="#">SCatalog</a>
	    <div class="nav-collapse collapse">
		<ul class="nav">
		<li><a href="/proc">Процессы<br>согласования</a></li>
		<li><a href="/clientlist">Подключение<br>клиентов</a></li>
		<li><a href="/costcontract">Затратные<br>договоры</a></li>
		<li><a href="/mtmc">Движение<br>ТМЦ</a></li>
		<li><a href="/contract">Договоры</a></li>
		<li><a href="/userfiles">Мои<br>файлы</a></li>
		<li><a href="/exit">Выход</a></li>
		</ul>
	    </div><!-- nav-collapse collapse -->
	</div><!-- container -->
    </div><!-- navbar-inner -->
</div><!-- navbar navbar-inverse navbar-fixed-top -->

<br>